{{#d-modal-body title="verifiable_credentials.present.title"}}
  {{#if message}}
    <p>{{{message}}}</p>
  {{/if}}

  <h3>{{i18n "verifiable_credentials.present.instructions"}}</h3>
  <p>{{description}}</p>

  {{#if hasQRCode}}
    <div class="qr-container">
      {{#if loadingQRCode}}
        {{loading-spinner}}
      {{else}}
        {{#if QRData}}
          <img
            src="https://api.qrserver.com/v1/create-qr-code/??&size=400x400&data={{QRData}}"
            alt={{i18n "verifiable_credentials.present.qr_code.title"}}
            title={{i18n "verifiable_credentials.present.qr_code.title"}}
            class="qr-code"
            />
        {{else}}
          {{i18n "verifiable_credentials.present.qr_code.failed"}}
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
{{/d-modal-body}}