{{#if model}}
  <table class="table discourse-verifiable-credentials-user-table">
    <thead>
      <th>{{i18n "verifiable_credentials.user.records.created_at.label"}}</th>
      <th>{{i18n "verifiable_credentials.user.records.did.label"}}</th>
      <th>{{i18n "verifiable_credentials.user.records.resources.label"}}</th>
      {{#if hasErrors}}
        <th class="message">{{i18n "verifiable_credentials.user.records.message.label"}}</th>
      {{/if}}
    </thead>
    <tbody>
      {{#each model as |record|}}
        <tr data-created-at={{record.created_at}}>
          <td>
            <span
              class="created-at"
              title={{i18n "verifiable_credentials.user.records.created_at.title"}}>
              {{bound-date record.created_at}}
            </span>
          </td>
          <td>
            <span
              class="did"
              title={{i18n "verifiable_credentials.user.records.did.title"}}
              data-did={{record.did}}>
              {{short-did record.did}}
            </span>
          </td>
          <td class="resources">
            {{resource-list record=record}}
          </td>
          {{#if record.error}}
            <td class="message"><span>{{record.error}}</span></td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="alert alert-info">
    {{i18n "verifiable_credentials.user.records.none"}}
  </div>
{{/if}}
