<div class="control-group verifiable-credentials">
  <label class="control-label">{{i18n "groups.manage.membership.verifiable_credentials"}}</label>

  <label>
    {{input
      type="checkbox"
      class="group-form-allow-membership-verification"
      checked=model.custom_fields.verifiable_credentials_allow_membership
      disabled=disableMembershipByVerifiableCredentials}}

    {{i18n "groups.verifiable_credentials_allow_membership"}}
  </label>

  {{#if model.custom_fields.verifiable_credentials_allow_membership}}
    <div>
      <label for="verifiable-credentials-redirect">
        {{input
          type="checkbox"
          class="group-form-show-verifiable-credentials-button"
          checked=model.custom_fields.verifiable_credentials_show_button}}

        {{i18n "groups.verifiable_credentials_show_button"}}
      </label>
    </div>
    <div>
      <label for="verifiable-credentials-redirect">
        {{input
          type="checkbox"
          class="group-form-include-verifiable-credentials-tags"
          checked=model.custom_fields.verifiable_credentials_include_tags}}

        {{i18n "groups.verifiable_credentials_include_tags"}}
      </label>
    </div>
    <div>
      <label for="verifiable-credentials-redirect">
        {{i18n "groups.verifiable_credentials_credential_identifier"}}
      </label>

      {{input
        name="verifiable-credentials-credential-identifier"
        class="verifiable-credentials-credential input-xxlarge"
        value=model.custom_fields.verifiable_credentials_credential_identifier}}
    </div>
    <div>
      <label for="verifiable-credentials-redirect">
        {{i18n "groups.verifiable_credentials_credential_claims"}}
      </label>

      {{claims-list
        claims=model.custom_fields.verifiable_credentials_credential_claims}}
    </div>
    <div>
      <label for="verifiable-credentials-redirect">
        {{i18n "groups.verifiable_credentials_redirect"}}
      </label>

      {{input
        name="verifiable-credentials-redirect"
        class="verifiable-credentials-redirect input-xxlarge"
        value=model.custom_fields.verifiable_credentials_redirect}}
    </div>
  {{/if}}
</div>
